@font-face {
  font-family: "Circus";
  src: url("./fonts/TheCircousStriped.ttf");
}

.App {
  font-family: "Circus";
  min-height: 100vh;
  background:
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #232323;

}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: 1px solid black;
  padding: 10px;
}

.search-button {
  background: darkblue;
  border: none;
  padding: 10px 20px;
  color: white;
}

.food {
  padding-top: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.big-search {
  position: fixed;
}